{% extends 'admin/baseAdmin.html.twig' %}

{% block title %} {{ parent() }} {% trans %} Techno {% endtrans %} {% endblock %}

{% block body %}
    <h1 class="text-center">Techno index</h1>
    <button type="button" class="d-block mx-auto btn btn-warning my-5">
    <a href="{{ path('admin_techno_new') }}">Create new</a>
    </button>

    <table class="wrapper border border-2">
        <thead>
            <tr class="text-uppercase text-center">
                <th>Id</th>
                <th>{% trans %}Nom{% endtrans %}</th>
                <th>{% trans %}Image{% endtrans %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for techno in technos %}
            <tr class="text-center border">
                <td>{{ techno.id }}</td>
                <td>{{ techno.name }}</td>
                <td>{{ techno.poster }}</td>
                <td>
                    <a class="d-block my-2 mx-2 btn btn-primary" href="{{ path('admin_techno_show', {'id': techno.id}) }}">{% trans %}Détails{% endtrans %}</a>
                    <a class="d-block my-2 mx-2 btn btn-warning" href="{{ path('admin_techno_edit', {'id': techno.id}) }}">{% trans %}Modifier{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}Pas de résultat{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
