{{ form_start(form) }}
<div class="wrapper border border-2 w-50">

    {{ form_label(form.name, "Nom du projet", {'label_attr': {'class': 'd-block mx-auto text-center w-25'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'd-block mx-auto form-control text-center w-25 my-3'}}) }}

    {{ form_label(form.typeProject, "Type de projet", {'label_attr': {'class': 'd-block mx-auto text-center w-25'}}) }}
    {{ form_widget(form.typeProject, {'attr': {'class': 'd-block mx-auto form-control text-center w-25 my-3'}}) }}

    {{ form_label(form.url, "Lien du projet", {'label_attr': {'class': 'd-block mx-auto text-center w-25'}}) }}
    {{ form_widget(form.url, {'attr': {'class': 'd-block mx-auto form-control text-center w-25 my-3'}}) }}
    
    {{ form_label(form.posterFile, "Image du projet", {'label_attr': {'class': 'd-block mx-auto text-center w-25'}}) }}
    {{ form_widget(form.posterFile, {'attr': {'class': 'd-block mx-auto form-control text-center w-25 my-3'}}) }}

    <div class="d-flex justify-content-center">
        <button class="d-block btn btn-warning my-2 mx -2">{{ button_label|default('Ajouter') }}</button>
    </div>
</div>
{{ form_end(form) }}
