<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="container-fluid">
        <li><a href="{{ path("home") }}" class="navbar-brand">{% trans %}Accueil{% endtrans %}</a></li>

    {% if app.user == false  %}
        <li><a href="{{ path("app_register") }}" class="navbar-brand">{% trans %}S'inscrire{% endtrans %}</a></li>
        <li><a href="{{ path("app_login") }}" class="navbar-brand">{% trans %}S'identifier{% endtrans %}</a></li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path("admin_index")}}" class="navbar-brand">{% trans %}Page Admin{% endtrans %}</a></li>
    {% endif %}

    {% if app.user %}
        <li><a href="{{ path("user_show", {'id' :app.user.id}) }}" class="navbar-brand">{% trans %}Mon compte{% endtrans %}</a></li>
        <li><a href="{{ path("app_logout") }}" class="navbar-brand">{% trans %}Déconnexion{% endtrans %}</a></li>
    {% endif %}

    </ul>
</nav>